/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */



/* Add CSS styling here */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	max-width: 100%;
}
body{
	
	background-image: url('https://images.unsplash.com/photo-1505826759037-406b40feb4cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80ttps://images.unsplash.com/photo-1563861019306-9cccb83bdf0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');		
	background-position: center;
	
}
h1{
	font-size: 5rem;
}
.title-container{
    display:flex;
    flex-wrap: wrap;
	justify-content: center;
	
}
.title-container div {	
    /* background-image: url('https://images.unsplash.com/photo-1563861019306-9cccb83bdf0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');		 */
    background-position: center;	
    color: white;	
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60vh;
	margin:5%; 
	background-size:90%;
	background-color: transparent;
}
header nav{
	width: 100%;
	background-color: tomato;
	display: flex;
	justify-content: space-evenly;

}
nav {
	font-size: 2rem;
	text-decoration: none;
	padding: 1%;

}
nav a{
	font-size: 2rem;
	text-decoration: none;
	border: 4%;
	color: steelblue;
	margin-top: 2%;
	text-align: center;
	
}
a:hover{
	background:salmon;
	color:white;
}
button{
	border-radius: 10%;
	height:80px;
	width:90px;
}
button a{
	text-decoration: none;
}
  
  
  /* Add a hover effect for buttons */
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
/* Add padding to containers */
  .container {
	padding: 16px;
  }

  footer nav{
	width: 100%;
	background-color: tomato;
	display: flex;
	justify-content: space-evenly;
  }